<%inherit file="template.html"/>

<h3>Suppression d'une statistique par son numéro</h3>

</pre>
<p class="message alert alert-${type}">${message}</p>


 <form action="suppressStat" method="POST">
  <div class="form-group">
    <label for="num">Numéro:</label>
    <input type="number" class="form-control" placeholder="Numéro de la statistique" name="num" id="num">
  </div>
  <button type="submit" class="btn btn-primary">Supprimer</button>
</form>

<br>
<h3>Liste des statistiques :</h3>
% for a in affiche :
	<div class="player"><h3>${a}</h3></div><br>
% endfor



